.reveal section div.meta {
    font-style: italic;
    font-size: 0.4em;
    padding-top: 2em;
    clear: both;
    text-align: right;
}

.reveal h2 a {
    color: #586e75;
}

    .reveal h2 a:hover {
        color: #268bd2 !important;
    }
